body {
    font-family: Arial, sans-serif;
    background-color: #f5f7fb;
    margin: 0;
    padding: 0;
}

.container {
    border: green;
    width: 90%;
    max-width: 500px;
    margin: 40px auto;
    background-color: #f5f7fb;
    text-align: center;
    padding-bottom: 20px;
}


/* Header */

header {
    background-color: #27dc96;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
}

.product-card {
    background-color: #fff;
    width: 85%;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.product-img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #eee;
}

.product-info {
    padding: 15px;
    text-align: left;
}

.product-info h2 {
    font-size: 1em;
    margin: 0;
    color: #000;
    font-weight: bold;
}

.product-info p {
    font-size: 0.9em;
    color: #444;
    margin: 8px 0;
    line-height: 1.4em;
}


/* Price styling */

.price {
    font-size: 1em;
    font-weight: bold;
    color: #007b00;
}

.old-price {
    text-decoration: line-through;
    color: #999;
    margin-left: 8px;
}


/* Button styling */

.cart-btn {
    background-color: #007bff;
    color: white;
    border: none;
    width: 100%;
    padding: 10px 0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

.cart-btn:hover {
    background-color: #0056b3;
}